@import "../../styles//mixins";
.footer-container {
  margin-top: 100px;
  background: #050505;
  border-top-left-radius: 25px; /* Rounded top-left corner */
  border-top-right-radius: 25px;
  padding: 50px;
  .top-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .footer-title {
      @include textVariant(50px, #ffffff, 400, "Age");
      ///  font-family: Raleway format("truetype") sans-serif;
    }
  }
  .footer-content {
    margin: 30px 0px 20px;
  }
  .footer-text-site {
    margin-top: 20px;
    @include textVariant(16px, #ffffff, 400, "Raleway");
    font-family: Raleway format("truetype") sans-serif;

    opacity: 0.5;
    font-family: sans-serif;
  }
  .footer-text-right {
    text-align: right;
  }
  .footer-text-right,
  .footer-text-left {
    @include textVariant(20px, #ffffff, 400, "Raleway");
    font-family: Raleway format("truetype") sans-serif;
  }
}

.cookie_container {
  position: fixed;
  bottom: 0;
  background: #ffffff;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  p {
    @include textVariant(16px, #101010, 400, "Raleway");
    font-family: Raleway format("truetype") sans-serif;
  }
  .text_coookie {
    max-width: 900px;
    width: 100%;
  }
  .btn_cookie {
    background: #34ab7d;
    border-radius: 10px;
    padding: 10px;
    @include textVariant(18px, #ffffff, 400, "Raleway");
    font-family: Raleway format("truetype") sans-serif;
  }
}

@media screen and (max-width: 920px) {
  .footer-container {
    padding: 50px 20px !important;
    .top-footer {
      flex-direction: column;
      gap: 20px;
      align-items: flex-start !important;
      .footer-title {
        font-size: 30px;
      }
    }
    .footer-text-center {
      margin: 55px 0px 50px;
    }
    .footer-text-left {
      margin-top: 50px;
    }
    .footer-text-site {
      font-size: 12px;
    }
  }
  .footer-content {
    flex-direction: column;
    align-items: flex-start;
    li {
      text-align: left;
      font-size: 14px;
    }
  }

  .cookie_container {
    flex-direction: column;
    p {
      font-size: 12px;
      gap: 5px;
    }
    .btn_cookie {
      font-size: 14px;
    }
  }
}
